.form-body {
  padding: 1.5rem;
  background: #f1f8fc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  line-height: 1.6;
}

.form-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #0074c7;
  word-wrap: break-word;
}

.form-body input,
.form-body textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #0074c7;
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #00497c;
  }
}
