.category-page {
  padding: 1rem;
  text-align: center;

  .category-title {
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
  }
}

.artisan-card {
  margin-bottom: 1.5rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card-img-top {
    height: 150px;
    object-fit: contain;
  }

  .card-body {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

    i {
      font-size: 1.2rem;
      margin: 0 2px;
    }

    .review-count {
      font-size: 0.9rem;
      color: #707070;
      margin-left: 5px;
    }
  }

  .btn-primary {
    background-color: #0074c7;
    border: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #00497c;
    }
  }
}
