.featured-artisans {
  padding: 1rem;
  background-color: #0074c7;
  margin-bottom: 1.5rem;

  .section-title {
    font-size: 2rem;
    font-family: "Graphik", sans-serif;
    font-weight: bold;
    color: white;
  }

  .section-subtitle {
    font-size: 1rem;
    color: white;
    margin-bottom: 2rem;
  }

  .error-message {
    color: #cd2c2e;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
