footer {
  background-color: #f1f8fc !important;
  color: #384050;
  padding: 20px 0;

  // Adresse
  footer-address {
    font-size: 0.9rem;
    line-height: 1.5;

    p {
      margin: 0 0 5px 0;
    }

    a {
      color: #0074c7;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .bi-telephone-fill {
      font-size: 1.2rem;
      color: #0074c7;
      margin-right: 8px;
    }
  }

  // Ligne de séparation
  hr {
    border: none;
    border-top: 1px solid #ccd6dd;
    margin: 20px 0;
  }

  // Menu des pages légales
  .footer-menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline;
        margin: 0 20px;

        a {
          color: #0074c7;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Copyright
  .footer-copyright {
    font-size: 0.8rem;
    color: #384050;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
  }
}
