.navbar {
  padding-left: 100px !important;
  padding-right: 100px !important;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0793474);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: black !important; // Couleur normale du lien
  text-decoration: none;

  &::after {
    content: ""; // Crée un pseudo-élément pour l'effet
    position: absolute;
    bottom: 1px; // Place l'effet sous le texte
    left: 50%; // Commence au milieu
    width: 0; // L'animation commence avec une largeur de 0
    height: 2px; // Épaisseur de la ligne
    background-color: black; // Couleur de la ligne
    transition: all 0.4s ease; // Animation fluide
    transform: translateX(-50%); // Centre l'effet au milieu
  }

  &:hover::after {
    width: 100%; // Étend la ligne sur toute la largeur du texte
  }

  &.active {
    color: #0074c7 !important;
    font-weight: bold;
    text-decoration: underline;
  }
}

.search-bar {
  width: auto;
  position: relative;
}

.form-control {
  flex: 1; // Adapte la largeur de l'input au conteneur

  &::placeholder {
    color: #aaa; // Placeholder en gris clair
    font-style: italic; // Optionnel, pour différencier le placeholder
  }
}

.search-results {
  position: absolute;
  top: 100%; /* Place les résultats juste en dessous de la barre */
  left: 0;
  width: 100%; /* Assure que la liste prend toute la largeur disponible */
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Met la liste au-dessus des autres éléments */
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 50vh; /* Limite la hauteur sur mobile pour éviter le débordement */
  overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */

  .search-result-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f1f8fc;
    }
  }
}

@media (max-width: 1024px) {
  .search-container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  }

  .form-control {
    font-size: 0.9rem;
  }

  .input-icon {
    font-size: 1rem;
  }

  .nav-link {
    &::after {
      width: 0;
    }

    &:hover::after {
      width: 100%;
    }

    text-align: center;
    margin: 5px 0;
  }
}
@media (max-width: 768px) {
  .search-results {
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0; /* Supprime les coins arrondis pour un affichage uniforme */
    box-shadow: none; /* Évite les débordements d'ombres sur mobile */
  }

  .search-container {
    margin: 0 auto;
    width: 95%; /* Adapte la barre de recherche à l'écran */
  }
}
