.hero-section {
  .hero-image {
    width: 100%;
    height: 30vh; /* Hauteur réduite pour un design compact */
    object-fit: cover; /* Ajuste l'image sans la déformer */
  }

  .hero-title {
    font-size: 1.8rem; /* Taille ajustée pour la hauteur réduite */
    font-family: "Graphik", sans-serif;
    margin-bottom: 0.5rem;
  }

  .hero-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* Ajustements pour écran moyen (tablette) */
@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 4vw;
    max-width: 90%;
  }
  .hero-text {
    font-size: 1rem;
    max-width: 85%;
  }
  .hero-section {
    padding: 2rem;
  }
}

/* Ajustements pour petit écran (mobile) */
@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 5vw;
    max-width: 100%;
  }
  .hero-text {
    font-size: 0.9rem;
    max-width: 95%;
  }
}
